<div class="container">    
    <div class="tekst">
        <h2>Inloggen</h2>
        <p>Gelieve u zich eerst in te loggen.</p>
        <p>U kan dit doen, rechtsboven de pagina of via deze <a class="link" href="login.php">link</a>.</p>
    </div>
</div>