<div class="dropdown">
    <a href="index.php">Settings</a>
    <div>
        <ul>
            <li><a href="account.php">Mijn account</a></li>
            <li><a href="bestellen.php">Winkelmandje</a></li>
            <li><a href="adminproducten.php">Producten overzicht</a></li>
            <li><a href="adminextras.php">Extras overzicht</a></li>
            <li><a href="admingebruikers.php">Gebruikers overzicht</a></li>
            <li><a href="adminbestellingen.php">Bestellingen overzicht</a></li>
            <li><a href="adminleverzones.php">Zones overzicht</a></li>
            <li><a href="logout.php">Afmelden</a></li>
        </ul>
    </div>
</div>