<div class="container">    
    <div class="tekst producten">
        <h2>de Pizzashop</h2>
        <p>Dit is een fictieve webwinkel 'de Pizzashop'. Deze site is gemaakt met PHP volgens het MVC model.</p>
        <p>Voel u toch vrij om eens een pizza te bestellen.</p>
        <h3>Leverings zone's:</h3>
        <img class="leverzones" src="images/OostendeMap.png">
    </div>
    <div class="social">
        <h2>Deel:</h2>
        <ul>
            <li class="google"><a href="#"><img src="images/googleplus-icon.png"><span>Google Plus</span></a></li>
            <li class="facebook"><a href="#"><img src="images/facebook-icon.png"><span>Facebook</span></a></li>
            <li class="twitter"><a href="#"><img src="images/twitter-icon.png"><span>Twitter</span></a></li>
        </ul>
    </div>
</div>