<div class="home">
    <div class="welkom">
        <img class="welkomImg" src="images/pizza1.png">
        <a class="welkomTekst" href="pizzas.php">
            <h2>Welkom</h2>
            <p>Bestel hier uw pizza</p> 
            <img class="next" src="images/next.png">   
        </a>             
    </div>
</div>