<form method="post" action="login.php" class="login">
    <p>
        <label for="login">Emailadres:</label>
        <input type="text" name="email" id="login" placeholder="naam@voorbeeld.com">
    </p>
    <p>
        <label for="password">Wachtwoord:</label>
        <input type="password" name="wachtwoord" id="password" >
    </p>
    <p class="login-submit">
        <button type="submit" class="login-button">Login</button>
    </p>
    <p class="forgot-password"><a href="confirm-recover.php">Wachtwoord vergeten</a>? <a href="register.php">Registreren</a></p>
</form>