<nav>    
    <ul>
        <li class="green"><a href="index.php">Home</a></li>
        <li class="white"><a href="pizzas.php">Pizza's</a></li>
        <li class="red"><a href="over_ons.php">Over ons</a></li>
    </ul>
</nav>