<div class="container">    
    <div class="tekst">
        <h2>Wachtwoord vergeten?</h2>
        <p>Werkt uw wachtwoord niet of bent u hem vergeten, vul hieronder uw emailadres in en wij sturen u een mailtje met een link voor een nieuw wachtwoord.</p>
        <hr/>        
        <form method="post" action="" class="loginform">
            <p>
                <label for="emailadres">Emailadres:</label>
                <input type="text" name="emailadres" id="emailadres" placeholder="naam@voorbeeld.com">
            </p><p>
                <button type="submit" class="button">Recover</button>
            </p>            
        </form>
    </div>
</div>    