<div class="container">    
    <div class="tekst">
        <h2>Dank u om te registreren</h2>
        <p>U kan nu pizza&#39;s bestellen van zodra u inlogt, u kan ook een berichtje achter laten in ons gastenboek.</p>
    </div>
</div>