<div class="container">    
    <div class="tekst">
        <h2>Wachtwoord recovery</h2>
        <p>We hebben een random wachtwoord voor u gecreërd en die via mail gezonden naar u. Gelieve uw emails te controleren.</p>
    </div>
</div>  